// Remember to use rems and ems. http://css-tricks.com/rems-ems.

@import '../../../node_modules/normalize.css/normalize.css'

// http://phonegap-tips.com/articles/essential-phonegap-css-webkit-tap-highlight-color.html
*
  -webkit-tap-highlight-color rgba(0,0,0,0)

// Goodness.
*, ::after, ::before
  box-sizing border-box

html,
body
  height 100%

body {
  color #333
  font-family 'Helvetica Neue', 'Helvetica', 'Lucida Grande', 'sans-serif'
  font-size 16px
  line-height 1.5
}
